<div class="container">
  <div>
    <span>Recorrido: </span>
    {{view Ember.Select
       content=recorridos
       optionValuePath="content.id"
       optionLabelPath="content.nombre"
       selection=selectedRecorrido
       value=selectedRecorrido
       prompt="Seleccione un recorrido"}}

    <span>M&aacute;quina: </span>
    {{view Ember.Select
       content=maquinas
       optionValuePath="content.id"
       optionLabelPath="content.patente"
       selection=selectedMaquina
       value=selectedMaquina
       prompt="Seleccione una máquina"}}

    <span>Chofer: </span>
    {{view Ember.Select
       content=choferes
       optionValuePath="content.id"
       optionLabelPath="content.nombre"
       selection=selectedChofer
       value=selectedChofer
       prompt="Seleccione un chofer"}}

    <button {{action "create"}}>✓ Crear</button>
  </div>

  <div>
    <h3>Despachos <strong>No</strong> confirmados para el d&iacute;a de hoy</h3>
    <ol>
      {{#each getDespachosNoConfirmados}}
        <li>
          {{recorrido.nombre}} - {{maquina.patente}} - {{chofer.nombre}} || <button {{action "confirm"}}>✓ Confirmar</button> || <button {{action "delete"}}>✓ Eliminar</button>
        </li>
      {{else}}
        No hay despachos pendientes.
      {{/each}}
    </ol>
  </div>

  <div>
    <h3>Despachos confirmados para el d&iacute;a de hoy</h3>
    <ol>
      {{#each getDespachosConfirmados}}
        <li>
          {{recorrido.nombre}} - {{maquina.patente}} - {{chofer.nombre}}
        </li>
      {{else}}
        No hay despachos confirmados.
      {{/each}}
    </ol>
  </div>

</div>